.Details{
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}
.productdetails{
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
}
.leftdetails{
    width: 500px;
    position: relative;
}
.rightdetails{
    width: calc(90% - 500px);
    text-align: center;
    cursor: default;
}
.rightdetails p{
    margin-top:0px ;
    font-size: 20px;
    margin-bottom: 30px;
}
.rightdetails h2{
    font-size: 32px;
    margin: 25px 0px;
}
.rightdetails h3{
    margin: 25px 0px;
}
.leftdetails img{
width: 100%;
border-radius: 30px;
height: 300px;
}
.rightdetails .stars {
    margin: 30px 0px ;
}
.rightdetails .stars i{
    margin: 0px 5px;
    -webkit-text-stroke: 2px rgb(70, 70, 70);
    color: rgb(255, 216, 3);
    position: relative;
    font-size: 30px;
}
.rightdetails .stars i:last-of-type{
    color: transparent;
}
.rightdetails .stars i span{
position: absolute;
left: 0%;
overflow: hidden;
}
.rightdetails .stars i span i{
color: rgb(255, 216, 3) !important;
width: 100%;
margin: 0;
}
.addtocart{
display: none;
}
.leftdetails .smallimages{
width: 100%;
height: 50px;
display: flex;
justify-content: space-evenly;
position: absolute;
bottom: 0%;
left: 50%;
transform: translate(-50%,100%);
background-color: rgb(214, 214, 214);
border-radius: 10px;
}
.leftdetails .smallimages img{
width: 50px;
height: 100%;
border-radius: 10px;
cursor: pointer;
}
.rightdetails button{
    background-color: black;
    color: white;
    font-size: 26px;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom:50px ;
}

.editproduct{
    margin-top: 80px;
    text-align: center;
}
.editproduct button{
    padding: 5px 20px;
    font-size: 26px;
    margin: 0px 10px;
    font-weight: bold;
    color: white;
    border: none;
    background-color:  rgb(12, 185, 185);
    border-radius: 10px;
    cursor: pointer;
}
.editproduct button:last-of-type{
    background-color: red ;
}

.editimages2{
    display: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}
.editimages2 input{
    margin-bottom: 10px;
}

.leftdetails .outofstock{
  position: absolute;
  font-size: 36px;
  background-color: rgba(128, 128, 128, 0.719);
  padding: 3px 0px;
  width: 111%;
  top: 49.5%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-29.5deg);
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: bold;
  border: 5px solid white;
  display: none;
  cursor: default;
}
.whenoutofstock{
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration:3px underline gray;
  position: absolute;
  bottom: -130px;
  display: none;
}


@media (max-width:950px) {
    .leftdetails {
        width: 350px;
      }
      .leftdetails img {
        width: 100%;
        border-radius: 30px;
        height: 260px;
      }
      .rightdetails {
        width: calc(90% - 360px);
      }
      .whenoutofstock{
        font-size: 30px;
        bottom: -110px;
      }
      .leftdetails .outofstock{
        padding: 3px 0px;
        width: 116%;
        transform: translate(-50%,-50%) rotate(-35deg);
      }
}
@media (max-width:730px) {
    .leftdetails {
        width: 350px;
      }
      .leftdetails img {
        width: 100%;
        border-radius: 30px;
        height: 260px;
      }
      .rightdetails {
        width: calc(90% - 360px);
      }
      .rightdetails p {
        margin-top: 0px;
        font-size: 17px;
        margin-bottom: 10px;
      }
      .rightdetails .stars {
        margin: 10px 0px;
     }
      .rightdetails h2 {
        font-size: 28px;
        margin: 20px 0px;
    }
    .rightdetails button {
        font-size: 22px;
        padding: 10px 20px;
        margin-bottom: 30px;
      }
      .editproduct button {
        padding: 3px 12px;
        font-size: 22px;
      }

}

@media (max-width:600px) {
  .whenoutofstock{
    font-size: 26px;
    bottom: -100px;
  }
    .leftdetails {
        width: 270px;
      }
      .leftdetails img {
        width: 100%;
        border-radius: 30px;
        height: 200px;
      }
      .rightdetails {
        width: calc(90% - 280px);
      }
      .rightdetails p {
        font-size: 16px;
        margin-bottom: 10px;
      }
      .rightdetails .stars {
        margin: 10px 0px;
     }
      .rightdetails h2 {
        font-size: 24px;
        margin: 15px 0px;
    }
    .rightdetails button {
        font-size: 18px;
        padding: 8px 16px;
        margin-bottom: 30px;
      }
      .rightdetails h3 {
        margin: 20px 0px;
      }
      .leftdetails .smallimages {
        height: 40px;
      }
      .leftdetails .smallimages img {
        width: 40px;
      }
      .editimages2 {
        width: 260px;
      }
      .editimages2 input{
        margin: 5px 0px;
        font-size: 16px;
      }
      .whenoutofstock{
        font-size: 26px;
        bottom: -80px;
      }
      .comments {
        margin-top: 120px !important;
      }
      .leftdetails .outofstock{
        font-size: 24px;
        padding: 3px 0px;
        width: 116%;
        transform: translate(-50%,-50%) rotate(-35deg);
        border-width: 3px;
      }
}
@media (max-width:500px) {
    .leftdetails {
        width: 240px;
      }
      .leftdetails img {
        width: 100%;
        border-radius: 30px;
        height: 170px;
      }
      .rightdetails {
        width: calc(90% - 240px);
      }
      .rightdetails p {
        font-size: 14px;
        margin-bottom: 7px;
      }
      .rightdetails .stars {
        margin: 7px 0px;
     }
      .rightdetails h2 {
        font-size: 20px;
        margin: 15px 0px;
    }
    .rightdetails .stars i{
        font-size:26px
      }
    .rightdetails button {
        font-size: 17px;
        padding: 8px 16px;
        margin-bottom: 10px;
      }
      .rightdetails h3 {
        margin: 10px 0px;
      }
      .leftdetails .smallimages {
        height: 40px;
      }
      .leftdetails .smallimages img {
        width: 40px;
      }
      .whenoutofstock{
        font-size: 22px;
        bottom: -60px;
      }
      .comments {
        margin-top: 90px !important;
      }
      .leftdetails .outofstock{
        font-size: 24px;
        padding: 3px 0px;
        width: 112%;
        transform: translate(-50%,-50%) rotate(-33.5deg);
        border-width: 3px;
      }
}

@media (max-width:450px) {
    .leftdetails {
        width: 200px;
      }
      .leftdetails img {
        width: 100%;
        border-radius: 30px;
        height: 150px;
      }
      .rightdetails {
        width: calc(90% - 200px);
      }
      .rightdetails p {
        font-size: 13px;
        margin-bottom: 5px;
      }
      .rightdetails .stars {
        margin: 5px 0px;
     }
      .rightdetails h2 {
        font-size: 18px;
        margin: 10px 0px;
    }
    .rightdetails .stars i{
        font-size:20px
      }
    .rightdetails button {
        font-size: 16px;
        padding: 8px 16px;
        margin-bottom: 10px;
      }
      .rightdetails h3 {
        margin: 10px 0px;
        font-size: 16px;
      }
      .Details {
        margin-top: 5px;
        font-size: 28px;
      }
      .leftdetails .smallimages {
        height: 35px;
      }
      .leftdetails .smallimages img {
        width: 35px;
      }
      .whenoutofstock{
        font-size: 20px;
        bottom: -75px;
      }
      .comments {
        margin-top: 100px !important;
      }
      .leftdetails .outofstock{
        font-size: 20px;
        padding: 3px 0px;
        width: 112.5%;
        transform: translate(-50%,-50%) rotate(-35deg);
        border-width: 2px;
      }
}

@media (max-width:370px) {
  .whenoutofstock{
    font-size: 18px;
    text-decoration: 2px underline gray;
    bottom: -45px;
  }
  .comments {
    margin-top: 70px !important;
  }
    .leftdetails {
        width: 170px;
      }
      .leftdetails img {
        width: 100%;
        height: 130px;
      }
      .rightdetails {
        width: calc(90% - 170px);
      }
      .rightdetails p {
        font-size: 13px;
        margin-bottom: 4px;
      }
      .rightdetails .stars {
        margin: 4px 0px;
     }
      .rightdetails h2 {
        font-size: 17px;
        margin: 8px 0px;
    }
    .rightdetails .stars i{
        font-size:18px
      }
    .rightdetails button {
        font-size: 14px;
        padding: 6px 12px;
        margin-bottom: 0px;
      }
      .rightdetails h3 {
        margin: 8px 0px;
        font-size: 15px;
      }
      .Details {
        margin-top: 5px;
        font-size: 24px;
      }
      .leftdetails .smallimages {
        height: 30px;
      }
      .leftdetails .smallimages img {
        width: 30px;
      }
      .editproduct button {
        font-size: 18px;
      }
      .editimages2 {
        width: 200px;
      }
      .editimages2 input{
        font-size: 12px;
        margin: 3px 0px;
      }
      .leftdetails .outofstock{
        font-size: 16px;
        padding: 3px 0px;
        width: 111.5%;
        transform: translate(-50%,-50%) rotate(-35deg);
        border-width: 2px;
      }
}


